* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: #17181b;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #17181b;
}

*::-webkit-scrollbar-thumb {
  background-color: #cea503;
}

body {
  font-weight: 600;
  font-size: 16px;
  color: #b3bec4;
}

krix-root,
.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout-wrapper {
  flex-direction: column;

  .main-navbar {
    height: 2.5em;
    display: flex;
    z-index: 5;
    align-items: center;
    background-color: #212227;
    box-shadow: 0px -3px 6px 0px #000000;

    a {
      height: 100%;
      width: 8em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 15px;
      color: #b3bec4;

      &.active {
        color: #fac800;
        border-left: 2px solid hsla(230, 9%, 10%, 0.4);
        border-right: 2px solid hsla(230, 9%, 10%, 0.4);
        background: hsla(230, 8%, 13%, 1);
        border-bottom: 2px solid #fac800;
      }
    }
  }
}

krix-state-store {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  .layout {
    height: 100%;
    display: flex;
    flex: 1;
  }

  .layout-history {
    width: 35%;
    background-color: #23262d;
    position: relative;

    .history {
      height: 100%;
      display: flex;
      flex-direction: column;

      .history-filter {
        height: 2.5em;
        position: fixed;
        width: 35%;
        border-right: 1px solid #26282e;
        top: 2.5em;
        z-index: 2;
        left: 0;

        input {
          height: 100%;
          width: 100%;
          border: none;
          background-color: #23262d;
          padding: 0.7em 1em;
          color: white;
          outline: none;

          font-size: 15px;

          &::placeholder {
            color: #fac800;
          }
        }
      }

      .history-list {
        overflow: auto;
        list-style: none;
        margin-top: 2.5em;
        border-bottom: 1px solid #1d1d21;

        li {
          cursor: pointer;
          transition: 0.1s ease-in-out;
          border-bottom: 2px solid #26282e;
          padding: 0.5em 1em;
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #1d1d21;

          &:hover,
          &.selected {
            background-color: #212227;
            border-bottom: 2px solid transparent;
          }
        }

        li.init {
          justify-content: start;

          .arrow-icon {
            font-weight: bolder;
            color: #fac800;
            margin-right: 0.2em;
          }
        }

        .s-icon {
          border: 2px solid #fac800;
          border-radius: 5px;
          padding: 1px 4px;
          font-size: 0.75em;
          color: #fac800;
        }
      }
    }
  }

  .layout-main {
    width: 65%;
    background-color: #212227;

    .main {
      display: flex;
      flex-direction: column;
      height: 100%;

      .navbar {
        height: 2.5em;
        display: flex;
        align-items: center;
        background-color: #23262d;
        border-left: 1px solid #1d1d21;

        a {
          height: 2.5em;
          outline: none;
          border-bottom: 2px solid #23262d;
          color: #b3bec4;
          text-decoration: none;

          &:hover,
          &.active {
            border-bottom: 2px solid #fac800;
            cursor: pointer;
            width: 5em;
            justify-content: center;
            display: flex;
            align-items: center;
          }
        }
      }

      .main-router-outlet {
        height: 100%;
        flex: 1;
        box-shadow: 8px 8px 14px -17px #000000 inset;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        padding-right: 20px;

        router-outlet {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

krix-state-tree {
  display: block;
  height: 100%;
  width: 100%;

  padding-top: 20px;

  font-size: 16px;
}

krix-state-tree-node {
  .state-tree-node-wrapper {
    list-style: none;

    li {
      padding-left: 30px;
      margin: 5px 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .state-tree-node {
    cursor: default;
    width: 100%;

    fa-icon {
      color: #fac800;
      font-size: 12px;
    }

    &.clickble {
      cursor: pointer;
    }

    .object {
      color: #f4a460;
    }

    .string {
      color: #88b580;
    }

    .number {
      color: #4f80b3;
    }

    .null-or-undefined {
      color: #ad7bad;
    }

    .boolean {
      color: #d64848;
    }
  }

  .state-tree-node-preview {
    font-size: 16px;
    font-style: italic;
  }
}