@import './scss/base';
@import './fonts.scss';
@import "./scss/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: #17181b;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #17181b;
}

*::-webkit-scrollbar-thumb {
  background-color: #cea503;
}

input, textarea {
  color: $basic-text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

body {
  font-weight: 600;
  font-size: 16px;
  color: #b3bec4;
}

krix-devtool-app {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;
}

krix-app-navigation {
  display: flex;
  align-items: center;
  
  height: 2.5em;
  z-index: 5;

  background-color: #212227;
  border-bottom: 1px solid #1d1d21;
  box-shadow: 0px -3px 6px 0px #000000;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 8em;

    color: #b3bec4;
    text-decoration: none;

    &.active {
      background: hsla(230, 8%, 13%, 1);
      border-top: 2px solid transparent;
      border-right: 2px solid hsla(230, 9%, 10%, 0.4);
      border-left: 2px solid hsla(230, 9%, 10%, 0.4);
      border-bottom: 2px solid #fac800;

      color: #fac800;
    }
  }
}

krix-state-store-tab {
  display: flex;
  flex: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;

  krix-tab-sidebar {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    position: relative;

    background-color: #23262d;
  
    .store-selector-container {
      border-right: 1px solid #26282e;
    }

    .store-selector-container, .history-filter-container {
      height: 2.5em;

      border-bottom: 1px solid #1d1d21;
    }

    .store-selector {
      width: 100%;
      height: 100%;

      background-color: transparent;
      border: none;

      outline: none;
    }

    input {
      height: 100%;
      width: 100%;

      padding: 0.7em 1em;

      background-color: #23262d;
      border: none;
      
      color: white;

      &::placeholder {
        color: #fac800;
      }
    }
  }

  krix-store-history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .store-selector-container, .history-filter-container {
      height: 2.5em;

      border-bottom: 1px solid #1d1d21;
    }

    .store-selector {
      width: 100%;
      height: 100%;

      background-color: transparent;
      border: none;

      outline: none;
    }

    input {
      height: 100%;
      width: 100%;

      padding: 0.7em 1em;

      background-color: #23262d;
      border: none;
      
      color: white;

      &::placeholder {
        color: #fac800;
      }
    }
  
    .history-list {
      height: 100%;
  
      overflow: auto;
    }

    .history-item {
      display: flex;
      justify-content: space-between;

      padding: 0.5em 1em;

      border-top: 1px solid #1d1d21;
      border-bottom: 2px solid #26282e;

      cursor: pointer;
      transition: 0.1s ease-in-out;

      &:hover,
      &.selected {
        background-color: #212227;
        border-bottom: 2px solid transparent;
      }

      &:last-child {
        padding-bottom: calc(0.5em + 1px);

        border-bottom: 1px solid #1d1d21;
      }
    }

    .state-signal-icon {
      padding: 1px 4px;

      border: 2px solid #fac800;
      border-radius: 5px;

      color: #fac800;
      font-size: 0.75em;
    }
  }
  
  krix-tab-content {
    display: flex;
    flex-direction: column;
  
    width: 65%;
    height: 100%;

    background-color: #212227;
  
    .navbar {
      display: flex;
      align-items: center;
  
      height: 2.5em;
  
      background-color: #23262d;
      border-left: 1px solid #1d1d21;
  
      a {
        height: 2.5em;
  
        border-bottom: 2px solid #23262d;
        
        color: #b3bec4;
        text-decoration: none;
  
        outline: none;
  
        &:hover,
        &.active {
          display: flex;
          align-items: center;
          justify-content: center;
  
          width: 5em;
  
          border-bottom: 2px solid #fac800;
  
          cursor: pointer;
        }
      }
    }
  
    .main-router-outlet {
      flex: 1;
  
      height: 100%;
      width: 100%;
  
      padding-right: 20px;
  
      box-shadow: 8px 8px 14px -17px #000000 inset;
      overflow-y: auto;
      overflow-x: hidden;
  
      router-outlet {
        height: 100%;
        width: 100%;
      }
    }
  }
}


krix-state-tree {
  display: block;

  height: 100%;
  width: 100%;

  padding-top: 20px;
}

krix-state-tree-node {
  .state-tree-node-wrapper {
    list-style: none;

    li {
      width: 100%;

      padding-left: 30px;
      margin: 5px 0;

      text-overflow: ellipsis;
      white-space: nowrap;

      overflow: hidden;
    }
  }

  .state-tree-node {
    width: 100%;
    
    cursor: default;

    fa-icon {
      color: #fac800;
      font-size: .75em;
    }

    &.clickble {
      cursor: pointer;
    }

    .object {
      color: #f4a460;
    }

    .string {
      color: #88b580;
    }

    .number {
      color: #4f80b3;
    }

    .null-or-undefined {
      color: #ad7bad;
    }

    .boolean {
      color: #d64848;
    }
  }

  .state-tree-node-preview {
    font-style: italic;
  }
}
