* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

*::-webkit-scrollbar-track {
  background-color: #17181b;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #17181b;
}

*::-webkit-scrollbar-thumb {
  background-color: #cea503;
}

body {
  font-size: 14px;
  color: #b3bec4;
}

krix-root,
.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout-wrapper {
  flex-direction: column;

  .navbar {
    height: 2.5em;
    display: flex;
    z-index: 5;
    align-items: center;
    background-color: #212227;
    box-shadow: 0px -3px 6px 0px #000000;

    a {
      margin-left: 1.5em;
      text-decoration: none;
      color: #b3bec4;

      &.active {
        color: #fac800;
      }
    }
  }
}

krix-state-store {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  .layout {
    height: 100%;
    display: flex;
    flex: 1;
  }

  .layout-history {
    width: 35%;
    background-color: #23262d;
    position: relative;

    .history {
      height: 100%;
      display: flex;
      flex-direction: column;

      .history-filter {
        height: 3em;
        position: fixed;
        width: 35%;
        box-shadow: -7px -3px 5px 0px #000000;
        top: 2.5em;
        z-index: 2;
        left: 0;

        input {
          height: 100%;
          width: 100%;
          border: none;
          background-color: #23262d;
          padding: 0.7em 1em;
          color: white;
          outline: none;

          &::placeholder {
            color: #fac800;
          }
        }
      }

      .history-list {
        overflow: auto;
        list-style: none;
        margin-top: 3em;

        li {
          cursor: pointer;
          transition: 0.1s ease-in-out;
          border-bottom: 2px solid #26282e;
          padding: 0.5em 1em;
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #1d1d21;

          &:hover,
          &.selected {
            background-color: #212227;
            border-bottom: 2px solid #212227;
          }
        }

        li.init {
          justify-content: start;

          .arrow-icon {
            font-weight: bolder;
            color: #fac800;
            margin-right: 0.2em;
          }
        }

        .s-icon {
          border: 2px solid #fac800;
          border-radius: 5px;
          padding: 1px 4px;
          font-size: 0.75em;
          color: #fac800;
        }
      }
    }
  }

  .layout-main {
    width: 65%;
    background-color: #212227;

    .main {
      display: flex;
      flex-direction: column;
      height: 100%;

      .main-nav {
        height: 3em;
        display: flex;
        align-items: center;
        background-color: #23262d;

        a {
          outline: none;
          border-bottom: 2px solid #23262d;
          color: #b3bec4;
          padding: 0.3em 1em;
          margin: 0.3em 0 0 1em;
          text-decoration: none;

          &:hover,
          &.active {
            border-bottom: 2px solid #fac800;
            cursor: pointer;
          }
        }
      }

      .main-router-outlet {
        height: 100%;
        flex: 1;
        box-shadow: 8px 8px 14px -17px #000000 inset;

        router-outlet {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}


krix-state-tree {

  .state-tree {
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding-top: 20px;

    .state-tree-node-wrapper {
      list-style: none;

      li {
        padding-left: 30px;
        margin: 5px 0;
      }
    }
  }

  .state-tree-node {
    cursor: default;

    fa-icon {
      color: #fac800;
      font-size: 12px;
    }

    .state-tree-node-value {
      color: purple
    }

    &.clickble {
      cursor: pointer;
    }

    .object {
      color: #f4a460;
    }

    .string {
      color: #76bb6a;
    }

    .number {
      color: #4f80b3;
    }

    .null-or-undefined {
      color: #ad7bad;
    }

    .boolean {
      color: #d64848;
    }
  }
}